<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CD_Otomasyon.Properties.Settings.CDciConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\CDci.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>